<launch>
  <!-- Fake transform from world origin to robot origin (base). Allows the UAV TF to be shown in RVIZ -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_world" args="0 0 0 0 0 0 /base /map 30" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find f35sim)/worlds/F15ExperimentScaled.world" />  <!-- looks for world in ~catkin_ws/src/f35sim/worlds and loads it -->
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
   </include>
</launch>
